In [1]:
import pandas as pd
import os
import glob

In [59]:
datasets_path = "Datasets\index"

dir_list = os.listdir(datasets_path)
Model_Price_df = pd.DataFrame()

for brand_path in glob.glob(datasets_path+"\*.csv"):
    df = pd.read_csv(brand_path, index_col=0, header=None)
    df.columns = ["brand_index"]
    df.index = pd.to_datetime(df.index, dayfirst=True)
    df = df.resample('D', convention='s').min()
    df.fillna(method='ffill', inplace=True)
    brand_list = brand_path.split('\\')
    brand = brand_list[-1].replace(".csv","")
    df["Brand"] = brand
    df["Date"] = df.index
    Model_Price_df = pd.concat([Model_Price_df, df], ignore_index=True)

Model_Price_df.to_csv("Datasets\For_visuallization\Brand_Index.csv", index=None)
df.head()
Model_Price_df.head()

  brand_index             Brand       Date
0      32,449  A. Lange & Söhne 2019-03-27
1      32,449  A. Lange & Söhne 2019-03-28
2      32,449  A. Lange & Söhne 2019-03-29
3      32,449  A. Lange & Söhne 2019-03-30
4      32,449  A. Lange & Söhne 2019-03-31