In [115]:
import pandas as pd
import os

In [116]:
sep = "/"
watch = "Rolex 126334"
path1 = "Datasets"+sep+"Price_chart"+sep+watch+sep+"Y1.csv"
path3 = "Datasets"+sep+"Price_chart"+sep+watch+sep+"Y3.csv"
path5 = "Datasets"+sep+"Price_chart"+sep+watch+sep+"Y5.csv"
header_list = ["Date", "Price"]
df1 = pd.read_csv(path1, names=header_list)
df3 = pd.read_csv(path3, names=header_list)
df5 = pd.read_csv(path5, names=header_list)
df1.head()

                                               Date   Price
0  Thu Mar 11 2021 00:00:00 GMT+0700 (เวลาอินโดจีน)  $12171
1  Fri Mar 12 2021 00:00:00 GMT+0700 (เวลาอินโดจีน)  $12167
2  Sat Mar 13 2021 00:00:00 GMT+0700 (เวลาอินโดจีน)  $12166
3  Sun Mar 14 2021 00:00:00 GMT+0700 (เวลาอินโดจีน)  $12172
4  Mon Mar 15 2021 00:00:00 GMT+0700 (เวลาอินโดจีน)  $12155

In [117]:
df_concat = pd.concat([df1, df3, df5], ignore_index=False)
df_concat.head()

                                               Date   Price
0  Thu Mar 11 2021 00:00:00 GMT+0700 (เวลาอินโดจีน)  $12171
1  Fri Mar 12 2021 00:00:00 GMT+0700 (เวลาอินโดจีน)  $12167
2  Sat Mar 13 2021 00:00:00 GMT+0700 (เวลาอินโดจีน)  $12166
3  Sun Mar 14 2021 00:00:00 GMT+0700 (เวลาอินโดจีน)  $12172
4  Mon Mar 15 2021 00:00:00 GMT+0700 (เวลาอินโดจีน)  $12155

In [141]:
result = pd.DataFrame()
# Day of week
# result['Day_of_week'] = df_concat['Date'].str[:3]
result['Date'] = pd.to_datetime([f'{y}-{m}-{d}' for m, d, y in zip(df_concat['Date'].str[4:7], df_concat['Date'].str[8:10], df_concat['Date'].str[11:15])])
result['Price'] = (df_concat['Price']).str[1:].values.astype('float')
result.sort_values(by=['Date'], axis=0, ascending=False, inplace=True)
result.drop_duplicates(inplace=True)
result.head()

           Date    Price
1094 2022-03-10  14605.0
728  2022-03-09  14605.0
362  2022-03-08  14548.0
361  2022-03-07  14479.0
1093 2022-03-06  14445.0

In [144]:
print(result.shape)

(795, 2)